<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdmxz.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="spuSaleAttrListMap" type="SpuSaleAttr">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList" ofType="SpuSaleAttrValue">
            <id property="id" column="sId"></id>
        </collection>
    </resultMap>
    <select id="spuSaleAttrList" resultMap="spuSaleAttrListMap">
        SELECT ssa.`id`,
               ssa.`spu_id`,
               ssa.`base_sale_attr_id`,
               ssa.`sale_attr_name`,
               ssav.`id` sId,
               ssav.`sale_attr_value_name`
        FROM spu_sale_attr ssa
                 LEFT JOIN spu_sale_attr_value ssav ON ssa.spu_id = ssav.`spu_id`
            AND ssa.`base_sale_attr_id` = ssav.`base_sale_attr_id`
        WHERE ssa.`spu_id` = #{spuId}
    </select>


    <select id="getSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrListMap">

        SELECT ssa.`id`,
               ssa.`spu_id`,
               ssa.`base_sale_attr_id`,
               ssa.`sale_attr_name`,
               ssav.`id`                      sId,
               ssav.`sale_attr_value_name`,
               sav.`sku_id`,
               IF(sav.`sku_id` IS NULL, 0, 1) is_checked
        FROM spu_sale_attr ssa
                 INNER JOIN spu_sale_attr_value ssav
                            ON ssa.`spu_id` = ssav.`spu_id` AND ssa.`base_sale_attr_id` = ssav.`base_sale_attr_id`
                 LEFT JOIN sku_sale_attr_value sav ON sav.`sale_attr_value_id` = ssav.`id` AND sav.`sku_id` = #{skuId}
        WHERE ssa.`spu_id` = #{spuId}
        ORDER BY ssa.`base_sale_attr_id`, ssav.`id`
    </select>
</mapper>